<html>
<head>
</head>
<body>
	<h1>Hello {{username}}</h1> 
<!-- <form action="/post" method="POST">
	<h1>Welcome {{username}}</h1> 
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form> -->

	<h2>Welcome to the Movies page!</h2>

	


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Movie</th>
	<th>Release Year</th>
	<th>Rating</th>

{% for line in posts %}
	<tr>
		<td>{{line.title}}</td>
		<td>{{line.release_year}}</td>
		<td>{{line.rating}}</td>
	</tr>
{% endfor %}
</table>
 
<br>
<br>
<br>
<a href="/home">Go home</a>

</body>


</html>
