<html>
<head>
</head>
<body>
<form action="/removeFriendAuthU" method="POST">
	<h20> There is more than one person with that name - please enter the friend group, as well as the username of the friend you would like to remove: </h20>
	</br>
	</br>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	<input type="text" name = "friendGroup" placeholder="Friend Group" required/> </br>
  	<input type="text" name = "friendUsername" placeholder="username" /></br>
	<input type="submit" value = Remove! />
	


</form>

<a href="/home">Go back</a>

</body>


</html>
